apiVersion: v1
kind: Service
metadata:
  name: petclinic-service
spec:
  type: NodePort
  selector:
    app: petclinic
  ports:
    - protocol: TCP
      port: 8085
      targetPort: 8085
      # Le port NodePort demandé pour l'accès externe
      nodePort: 30080